<!DOCTYPE html>
<html>

<head>
    <title>Learn AngularJS</title>
    <link href="css/style.css" rel="stylesheet" />
    <link rel="icon" type="images/x-icon" href="images/favicon.ico">
    <!-- First lessons-Binding. At this part learn how create class and add some text to the paragraf -->
</head>

<body>
    <div class="container">
        <h1>List of the lessons</h1>
        <ul class="list">
            <li class="list_item"> <a href="binding.html" target="_blank">binding.html</a>
            <p>At this task I made some notes list you spending. Making with AngularJS(1) (used:ng-model controller and ng-click).</p>
            </li>
            <li class="list_item"> <a href="scopemethod.html" target="_blank">scopemethod.html</a>
            <p>At his task I made filter. I use actors list star wars, and if you want to know who playing your favorite character you can do it. (used: ng-filter and factory)</p>
            </li>
            <li class="list_item"> <a href="directive.html" target="_blank">directive.html</a>
            
            </li>
        </ul>
    </div>
</body>

</html>
